/* src/components/Sidebar.css */
.sidebar {
  width: 200px;
  height: 100vh;
  background-color: rgb(133 183 255 / 66%);
   /* Rose bébé */
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
  color: #2b14ff; /* Rose fuchsia foncé */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #3f14ff; /* Rose fuchsia foncé */
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

/* Style des cadres */
.sidebar ul li {
  border: 1px solid #3f14ff; /* Rose fuchsia foncé */
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s ease;
}

.sidebar ul li:hover {
  background-color: #3f14ff; /* Rose fuchsia foncé */
  color: white;
}

.card:hover {
  background-color: rgb(50, 45, 82);
  color: white;
  transition: all 0.3s ease;
}

.MuiPaper-root{
  background-color: rgb(255, 182, 193) !important;
}