/* src/components/Sidebar.css */
.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #ffb6c1; /* Rose bébé */
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
  color: #ff1493; /* Rose fuchsia foncé */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #ff1493; /* Rose fuchsia foncé */
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

/* Style des cadres */
.sidebar ul li {
  border: 1px solid #ff1493; /* Rose fuchsia foncé */
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s ease;
}

.sidebar ul li:hover {
  background-color: #ff1493; /* Rose fuchsia foncé */
  color: white;
}

.card:hover {
  background-color: #ff69b4;
  color: white;
  transition: all 0.3s ease;
}