/* src/components/Sidebar.css */
.sidebar {
  width: 200px;
  height: 100vh;
  background-color: rgb(239 239 239); /* Rose bébé */
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
  color: #000000; /* Rose fuchsia */
}
#root > div > div > div{
  
    width: 242px;
    background-color: #ffa4be78;

}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
#root > div > main > div{
  padding: -24px;
    background-color: rgb(25 118 210);
}
.sidebar ul li {
  margin: 10px 0;
}
#root > div > div > div > div:nth-child(2) > ul > a> div.MuiListItemText-root.css-tlelie-MuiListItemText-root{    color: #3872e0;}
 svg {
  color: #3872e0 !important;
 }
.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

/* Style des cadres */
.sidebar ul li {
  border: 1px solid #7369ff; /* Rose fuchsia */
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s ease;
}

.sidebar ul li:hover {
  background-color: #6980ff; /* Rose fuchsia */
  color: white;
}


#root > div > div > div{
  background-color: rgb(255, 182, 193) !important;
}